@import '_variables.scss';

body {
  font-family: 'Bebas Neue', cursive;
  background-color: $primary-color;
  background: size 100%;
  color: $accent-color;

  .Loopin {
    @include font-styles;
    margin-top: $margin-top;
  }
}

form {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border: 10px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

h1 {
  @include font-styles;
  font-size: 40px;
  text-decoration: underline;
  font-style: oblique;
  text-align: center;
}

h2 {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

h4 {
  @include font-styles;
  text-decoration: wavy;
  text-align: center;
  margin-top: 20%;
}

.circulo {
  @include circulo-styles;
}

.portada {
  @include image-styles;
}

/*contiene la foto de las papas*/
.container-row {
  display: flex;
  font-size: 20px;

  p {
    justify-content: center;
    margin-top: 30%;
  }
}

.texto-fin {
  justify-content: center;
  text-align: center;
}

/*imagenes de abajo que estan de a 3 inicio*/
.image-row {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

  img {
    @include image-styles;
    width: calc(33.33% - $grid-gap);
    margin-right: $grid-gap;
  }
}

.portada-evento {
  @include image-styles;
  max-height: 300px;
}

/*imagenes de eventos*/
.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 5%;
  margin-left: 25px;

  img {
    width: auto;
    height: 300px;
    align-items: center;
  }
}

/*imagenes de los eventos*/
.image-grid1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen {
  @include image-styles;
  max-width: 400px;
  margin-left: 25px;
}

.menu-list {
  display: flex;
  justify-content: center;
  margin-top: 70px;

  ul {
    list-style: none;
    padding: 0;
  }
  h3 {
    text-align: center;
    margin-top: 20px;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    text-align: center;
    flex-basis: 33.33%;
  }
}

.portada-nosotros {
  @include image-styles;
}

.parrafo-giratorio {
  text-align: center;
}

.texto-1 {
  justify-content: center;
  text-align: center;
  margin-top: -10%;
}

.bienvenido {
  margin-top: 10px;
  margin-left: 25%;
  text-align: center;
}

.texto {
  margin-left: 25%;
  text-align: center;
}

/*texto al lado de imagen en nosotros*/
.contenedor {
  display: flex;
  align-items: center;
}

.contenedor2 {
  display: flex;
  justify-content: center;
}

.parrafo-giratorio {
  animation: girar 2s linear forwards;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer p {
  text-align: center;
  margin-top: 10px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.redes a img {
  animation: rotate 2s infinite linear; // Ajusta la duración y el tipo de animación según tus preferencias
}

.redes {
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    margin: 0 10px;
    display: inline-block;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 768px) {
  .image-grid img {
    width: 100%;
    height: auto;
  }
}
